*{
    padding :0;
    margin : 0;
    box-sizing: border-box;
    font-family:'Josefin Sans', sans-serif;    
}

.NavBar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 8px 22px;
    backdrop-filter:blur(20px);
    background-color: rgba(0,0,0,0.6);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 15px; 
}

.active{
    color:rgb(27, 225, 27)
}
.NavBar nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 3%;
    padding-right: 4%;
    padding: 5px 16px;
    
    
}
 
.NavBar nav ul{
    list-style-type:none;
    white-space:nowrap;
    margin: 0;
    padding:0;
    display: flex;
    align-items:center;

}

.NavBar nav ul li{
    list-style-type:none;
    display: inline-block; 
    padding: 8px 18px;
    margin-left: 8px;
    
    
}


.NavBar nav ul li a{
    color: rgba(255, 255, 255,255);
    text-decoration: none;
    font-weight:bolder;    
}

.UserIcon img{
    width:40px;
    height:30px;
    padding-right:15px;
    padding-top:4px;
    margin-right:10px; 
}

.UserIcon img:hover{
    transform: scale(1.2);
    color:rgb(16, 218, 16);
}

.NavBar nav ul li a:hover{
    color:rgb(16, 218, 16);
    transition: 0.4s;
}

nav ul li a.active {
    color: rgb(16, 218, 16);
    font-weight: bold; 
    
}

.NavBar p{
    font-family:"Quicksand", sans-serif;;
    margin-right:10px;
    font-size:22px;
    color:rgba(255, 255, 255,255);
}

.NavBar p span{
    color:#006600;
    font-size:25px;
}

body{
    background-image: url('contenrBg.jpg');
    backdrop-filter:blur(10px);
}

.introduction {
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.652);
}

.section1 h2{
    text-align: center;
    color: #ffffff;
}
.section1 p {
    text-align: justify;
    color:rgb(255, 255, 255);
    width:auto;
    font-size:small;
}

.section1 img{
    image-resolution:1080px;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.749);
    max-height: 35%;
    max-width: 25%;
    margin:auto;
    display:block;
    height: auto;
    width: auto;
    transform:translate(-50%);
    margin-left:340px;
    margin-right: auto;
    
}

.section1 fieldset{
    border:2px solid #ffffff;
    padding: 20px;
    margin-bottom:20px;
    border-radius:10px;
    backdrop-filter:blur(10px);
    background-color: rgba(0,0,0,0.7);
    width:60%;
    height:70%;
    margin-left:30px;

}

.section2 p {
    text-align: justify;
    color:rgb(255, 255, 255);
    width:auto;
    font-size:small;
    float: right;
}

.section2 img{
    image-resolution:1080px;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.749);
    max-height: 35%;
    max-width: 25%;
    margin:auto;
    display:block;
    height: auto;
    width: auto;
    transform:translate(-50%);
    margin-right:180px;
    float: right;

}

.section2 fieldset{
    border:2px solid #ffffff;
    padding: 20px;
    margin-bottom:20px;
    border-radius:10px;
    backdrop-filter:blur(10px);
    background-color: rgba(0,0,0,0.7);
    width:60%;
    height:70%;
    margin-right:30px;
    float: right;
    
}
.section2 h2 {
    text-align: center;
    color: #ffffff;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.links {
    background-color:rgba(0, 0, 0, 0.719);
    color: white;
    padding: 50px 0;
}

.links-inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.links-inner div {
    margin-bottom: 30px;
}

.links-inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top:5px;
}

.links-inner ul li h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.links-inner ul li a {
    color: white;
    text-decoration: none;
    padding-top:5px;
}

.links-inner .contact {
    flex-basis: 300px;
}

.footer {
    background-color: #006600;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer p {
    margin: 0;
} 

.top span{
    padding-bottom: 20%;
}
