

body {
        font-family: Arial, sans-serif;
        text-align: center; 
        background-color: rgb(48, 163, 54);
}

.subtopic {
            margin-top: 50px; 
            margin-bottom: 70px; 
            
}
        
       